@model SItem

<h1>@captions.Edit</h1>

<form method="post" asp-antiforgery="true" asp-controller="Home" asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <input type="hidden" asp-for="@Model.ID" />
        <label asp-for="@Model.FName" class="form-label"></label>
        <input type="text" asp-for="@Model.FName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.LName" class="form-label"></label>
        <input type="text" asp-for="@Model.LName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.EnrollmentDate" class="form-label"></label>
        <input type="date" asp-for="@Model.EnrollmentDate" class="form-control" />
    </div>
    <div>
        <input type="submit" class="@captions.button_default" value="@captions.save" />
        <a asp-action="Index" asp-controller="Home" class="@captions.button_outline">@captions.cancel</a>
    </div>
</form>
