@{
    ViewData["Title"] = "Home Page";
}

@*
       //накъде да сочи връзката за следващото сортиране по id...
            ViewBag["order_id"] = student.NextOrderType(sOrder, enum_SortStudentOrder.id_asc, enum_SortStudentOrder.id_desc);

            //накъде да сочи връзката за следващото сортиране по име...
            ViewBag[""] = student.NextOrderType(sOrder,enum_SortStudentOrder.fname_asc,enum_SortStudentOrder.fname_desc);
            //накъде да сочи връзката за следващото сортиране по фамилия...
            ViewBag[""] = student.NextOrderType(sOrder, enum_SortStudentOrder.lname_asc, enum_SortStudentOrder.lname_desc);
            //накъде да сочи връзката за следващото сортиране по дата...
            ViewBag[""] = student.NextOrderType(sOrder, enum_SortStudentOrder.edate_asc, enum_SortStudentOrder.edate_desc);

*@

@model IEnumerable<SItem>

<h1>@captions.Stundents</h1>
<table class="@captions.table">
    <tr>
        <th>
            <a asp-controller="Home" asp-action="Index" asp-route-sOrder="@ViewData["order_id"]">@captions.StundentsID</a>
        </th>
        <th>
            <a asp-controller="Home" asp-action="Index" asp-route-sOrder="@ViewData["order_fname"]">@captions.StundentsFName</a>
        </th>
        <th>
            <a asp-controller="Home" asp-action="Index" asp-route-sOrder="@ViewData["order_lname"]">@captions.StundentsLName</a>
        </th>
        <th>
            <a asp-controller="Home" asp-action="Index" asp-route-sOrder="@ViewData["order_edate"]">@captions.StundentsEDate</a>
        </th>
        <th></th>

        
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.FName</td>
            <td>@k.LName</td>
            <td> @k.EnrollmentDate.BulgarianDate()</td>
            <td>
            <form method="post" asp-action="Delete" asp-controller="Home" asp-antiforgery="true" asp-route-id="@k.ID">

                <a asp-controller="Home" asp-action="Edit" asp-route-id="@k.ID" class="@captions.button_outline">@captions.Edit</a>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@k.ID" class="@captions.button_outline">@captions.details</a>
                <input type="submit" value="@captions.delete" class="@captions.button_danger" />
            </form>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-action="Insert" asp-controller="Home" class="@captions.button_default">@captions.new_item</a>
</div>


