@{
    ViewData["Title"] = "Home Page";
}


@model IEnumerable<SItem>

<h1>@captions.Stundents</h1>
<table class="@captions.table">
    <tr>
        <th>@captions.StundentsID</th>
        <th>@captions.StundentsFName</th>
        <th>@captions.StundentsLName</th>
        <th>@captions.StundentsEDate</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.FName</td>
            <td>@k.LName</td>
            <td>@k.PrintDate()</td>
        </tr>
    }
</table>
<div>
    <a asp-action="Insert" asp-controller="Home" class="@captions.button_default"></a>
</div>


