@{
    ViewData["Title"] = "Home Page";
}


@model IEnumerable<SItem>

<h1>@captions.Stundents</h1>
<table class="@captions.table">
    <tr>
        <th>@captions.StundentsID</th>
        <th>@captions.StundentsFName</th>
        <th>@captions.StundentsLName</th>
        <th>@captions.StundentsEDate</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.FName</td>
            <td>@k.LName</td>
            <td>
                <div>@k.PrintDate()</div>
                <form method="post" asp-action="Delete" asp-controller="Home" asp-antiforgery="true" asp-route-id="@k.ID">
                    <input type="submit" value="@captions.delete" class="@captions.button_danger" />
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@k.ID">@captions.Edit</a>
                </form>
                
                    
                
                </td>
        </tr>
    }
</table>
<div>
    <a asp-action="Insert" asp-controller="Home" class="@captions.button_default">@captions.new_item</a>
</div>


