@{
    ViewData["Title"] = "Home Page";
}


@{
    VDSort sort_type = ViewData["scolumn"] as VDSort;
    var gl = sort_type.Glyph();

}


@model IEnumerable<SItem>

<h1>@captions.Stundents</h1>

<form method="get"
    asp-controller="Home"
    asp-action="Index">

    
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="@captions.Filter" name="fl" value="@sort_type.Filter">
        <input type="hidden" name="scolumn" value="@sort_type.IntegerColumn()" />
        <input type="hidden" name="sorder" value="@sort_type.IntegerOrder()" />
        <button class="btn btn-success" type="submit">@captions.Filter</button>
    </div>

</form>


<table class="@captions.table">
    <tr>
        @*----------------------------------------------------------------------------------------------*@
        <th>
            @if (sort_type.CurrentSort(enum_ColumnStudent.ID))
            {
                <a asp-controller="Home" class="sorted"
                asp-action="Index" 
                asp-route-scolumn="@sort_type.IntegerColumnID()"
                    asp-route-sorder="@sort_type.NextOrderType()"
                    asp-route-fl="@sort_type.Filter"
                >

                    @captions.StundentsID <b>@Html.Raw(gl)</b>
                </a>
            }
            else
            {
                <a asp-controller="Home"
                    asp-action="Index"
                    asp-route-scolumn="@sort_type.IntegerColumnID()"
                    asp-route-sorder="@sort_type.IntegerAsc()"
                    asp-route-fl="@sort_type.Filter">

                    @captions.StundentsID
                </a>
            }

        </th>
        @*----------------------------------------------------------------------------------------------*@
        <th>
            @if (sort_type.CurrentSort(enum_ColumnStudent.FName))
            {
                <a asp-controller="Home" asp-action="Index" class="sorted"
                    asp-route-scolumn="@sort_type.IntegerColumnFName()"
                    asp-route-sorder="@sort_type.NextOrderType()"
                    asp-route-fl="@sort_type.Filter"
                >

                    @captions.StundentsFName <b>@Html.Raw(gl)</b>

               
                </a>
            }
            else
            {
                <a asp-controller="Home"
                    asp-action="Index"
                    asp-route-scolumn="@sort_type.IntegerColumnFName()"
                    asp-route-sorder="@sort_type.IntegerAsc()"
                    asp-route-fl="@sort_type.Filter">
                    @captions.StundentsFName
                </a>
            }

        </th>
        @*----------------------------------------------------------------------------------------------*@
        <th>
            @if (sort_type.CurrentSort(enum_ColumnStudent.LName))
            {
                <a asp-controller="Home" asp-action="Index" class="sorted"
                    asp-route-scolumn="@sort_type.IntegerColumnLName()"
                    asp-route-sorder="@sort_type.NextOrderType()"
                    asp-route-fl="@sort_type.Filter"
                >


               
                    @captions.StundentsLName <b>@Html.Raw(gl)</b>

                </a>
            }
            else
            {
                <a asp-controller="Home"
                    asp-action="Index"
                    asp-route-scolumn="@sort_type.IntegerColumnLName()"
                    asp-route-sorder="@sort_type.IntegerAsc()"
                    asp-route-fl="@sort_type.Filter">
                    @captions.StundentsLName
                </a>
            }

        </th>
        @*----------------------------------------------------------------------------------------------*@
        <th>
            @if (sort_type.CurrentSort(enum_ColumnStudent.EDate))
            {
                <a asp-controller="Home" asp-action="Index" class="sorted"
                    asp-route-scolumn="@sort_type.IntegerColumnEDate()"
                    asp-route-sorder="@sort_type.NextOrderType()"
                    asp-route-fl="@sort_type.Filter"
                >

               
                    @captions.StundentsEDate <b>@Html.Raw(gl)</b>

                
                
                </a>
            }
            else
            {
                <a asp-controller="Home"
                    asp-action="Index"
                    asp-route-scolumn="@sort_type.IntegerColumnEDate()"
                    asp-route-sorder="@sort_type.IntegerAsc()"
                    asp-route-fl="@sort_type.Filter">
                    @captions.StundentsEDate
                </a>
            }
        </th>
        @*----------------------------------------------------------------------------------------------*@
        <th></th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.FName</td>
            <td>@k.LName</td>
            <td> @k.EnrollmentDate.BulgarianDate()</td>
            <td>
            <form method="post" asp-action="Delete" asp-controller="Home" asp-antiforgery="true" asp-route-id="@k.ID">

                <a asp-controller="Home" asp-action="Edit" asp-route-id="@k.ID" class="@captions.button_outline">@captions.Edit</a>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@k.ID" class="@captions.button_outline">@captions.details</a>
                <input type="submit" value="@captions.delete" class="@captions.button_danger" />
            </form>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-action="Insert" asp-controller="Home" class="@captions.button_default">@captions.new_item</a>
</div>


