@{
    ViewData["Title"] = "Home Page";
}


@{
    VDSort sort_type = ViewData["scolumn"] as VDSort;
    var gl = sort_type.Glyph();

}


@model IEnumerable<SItem>

<h1>@captions.Stundents</h1>
<table class="@captions.table">
    <tr>
        @if (sort_type.CurrentSort(enum_ColumnStudent.ID))
        {
            <th>
                <a asp-controller="Home" class="sorted"
                asp-action="Index" 
                asp-route-scolumn="@sort_type.IntegerColumnID()"
                   asp-route-sorder="@sort_type.NextOrderType()">

                    @captions.StundentsID <b>@Html.Raw(gl)</b>
                </a>
            </th>
        }
        else
        {

           
            <th>
                <a 
                    asp-controller="Home"
                    asp-action="Index"
                    asp-route-scolumn="@sort_type.IntegerColumnID()" 
                    asp-route-sorder="@sort_type.IntegerAsc()">

                    @captions.StundentsID
                </a>
            </th>
        }


        @if (sort_type.CurrentSort(enum_ColumnStudent.FName))
        {
            <th>
                <a asp-controller="Home" asp-action="Index" class="sorted"
                   asp-route-scolumn="@sort_type.IntegerColumnFName()"
                   asp-route-sorder="@sort_type.NextOrderType()">

                    @captions.StundentsFName <b>@Html.Raw(gl)</b>

               
                </a>
            </th>
        }
        else
        {
            <th>
                <a
                    asp-controller="Home"
                asp-action="Index" 
                asp-route-scolumn="@sort_type.IntegerColumnFName()"
                asp-route-sorder="@sort_type.IntegerAsc()">
                    @captions.StundentsFName
                </a>
            </th>
        }


        @if (sort_type.CurrentSort(enum_ColumnStudent.LName))
        {
            <th>
                <a asp-controller="Home" asp-action="Index" class="sorted"
                   asp-route-scolumn="@sort_type.IntegerColumnLName()"
                   asp-route-sorder="@sort_type.NextOrderType()">


               
                    @captions.StundentsLName <b>@Html.Raw(gl)</b>

               
                
            
                </a>
            </th>
        }
        else
        {
            <th>
                <a
                    asp-controller="Home"
                    asp-action="Index" 
                    asp-route-scolumn="@sort_type.IntegerColumnLName()" 
                    asp-route-sorder="@sort_type.IntegerAsc()">
                    @captions.StundentsLName
                </a>
            </th>
        }



        @if (sort_type.CurrentSort(enum_ColumnStudent.EDate))
        {

            <th>
                <a asp-controller="Home" asp-action="Index" class="sorted"
                   asp-route-scolumn="@sort_type.IntegerColumnEDate()"
                   asp-route-sorder="@sort_type.NextOrderType()">

               
                    @captions.StundentsEDate <b>@Html.Raw(gl)</b>

                
                
                </a>
            </th>
        }
        else
        {
            <th>
            <a 
                asp-controller="Home" 
                asp-action="Index" 
                asp-route-scolumn="@sort_type.IntegerColumnEDate()" 
                asp-route-sorder="@sort_type.IntegerAsc()">
                @captions.StundentsEDate
            </a>
            </th>
        }


     
        <th></th>

        
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.FName</td>
            <td>@k.LName</td>
            <td> @k.EnrollmentDate.BulgarianDate()</td>
            <td>
            <form method="post" asp-action="Delete" asp-controller="Home" asp-antiforgery="true" asp-route-id="@k.ID">

                <a asp-controller="Home" asp-action="Edit" asp-route-id="@k.ID" class="@captions.button_outline">@captions.Edit</a>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@k.ID" class="@captions.button_outline">@captions.details</a>
                <input type="submit" value="@captions.delete" class="@captions.button_danger" />
            </form>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-action="Insert" asp-controller="Home" class="@captions.button_default">@captions.new_item</a>
</div>


